* {
  box-sizing: border-box;
  color: rgba(26, 24, 24, 0.794);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.div-filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
}

.div-filtros h6, label {
  color: white;
  font-size: larger;
}

#nameFilter {
  color: rgba(26, 24, 24, 0.794);
  font-size: larger;
}

#selectFilter {
  font-size: larger;
}

